<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="text/css" rel="stylesheet" href="/css/variables.css">
<link type="text/css" rel="stylesheet" href="/css/typography.css">
<link type="text/css" rel="stylesheet" href="/css/main.css">
<link type="text/css" rel="stylesheet" href="/css/layout.css">
<link type="text/css" rel="stylesheet" href="/css/animation.css">

<!-- <script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src="/js/script.js"></script> -->

<title><%= listName %></title>