<nav>
    <div class="dropbox-lists">
        <h1>To Do List</h1> <!-- inserir variavel com titulo do banco de dados -->
        <input type="button" class="nav-lists" value="Lists">
    </div>
</nav>