/*common screen resolutions*/
/*
1   1920×1080
2	360×800	
3	1366×768
4	1280×720
5	1536×864
6	390×844
7	412×915
8	393×873
9	360×780
10	360×640
*/

body {
  /* background diagonal two color style  */
  background: linear-gradient(
    to right bottom,
    var(--bg-color) 50%,
    var(--light-red) 55%
  ); /*55% makes it blur*/
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

/*Tablet  601×962 through 1280×800 */
@media only screen and (min-width: 601px) {
  .btn-delete,
  .btn-add,
  .btn-create-list,
  .btn-download-list,
  .btn-create,
  .btn-create-new-list,
  .btn-download-list,
  .nav-list-title,
  .input-item-to-list,
  .input-new-list {
    height: 35px;
  }
  /*reused*/
  p {
    line-height: 33px;
  }

  /*NavBar*/
  .nav-lists {
    height: 50px;
  }

  /* --------- Sec. create and Download list ----------*/
  .sec-create-download-list {
    margin-top: 40px;
  }
  /*buttons*/
  .btn-create-new-list {
    margin-left: 50px;
  }
  .btn-download-list {
    margin-right: 50px;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*Desktop 1280×720 through 1920×1080*/
@media only screen and (min-width: 1280px) {
  /* .container {
    width: 60%;
  } */
  .container > * {
    width: 80%;
    margin: 0 auto;
  }
  .btn-delete,
  .btn-add,
  .btn-create-list,
  .btn-download-list,
  .btn-create,
  .btn-create-new-list,
  .btn-download-list,
  .nav-list-title,
  .input-item-to-list,
  .input-new-list {
    height: 50px;
  }
  /*animation*/
  .ball-animation {
    float: left;
  }

  /*reused*/
  p {
    line-height: 48px;
  }

  /*NavBar*/
  .nav-lists {
    height: 60px;
  }
  /* .nav-list-group {
    width: 60%; /*It is 60% because screen over 1280 the list group gets to big 
  } */
  .page-header-list-name {
    margin-top: 55px;
  }

  /* --------- Sec. create and Download list ----------*/
  .sec-create-download-list {
    margin-top: 80px;
  }
  /*buttons*/
  .btn-create-new-list {
    margin-left: 200px;
  }
  .btn-download-list {
    margin-right: 200px;
  }
}
