*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

input{
  border-style: none;
  background-color: transparent;
}


/*NavBar*/
.nav-lists{
  background-color: var(--bg-light-red);
  width: 100%;
  height: 40px;
}
