*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

input,
button {
  border-style: none;
  background-color: transparent;
}

/*show and hide classes*/
.invisible {
  visibility: hidden;
}
.visible {
  visibility: visible;
}

/*BUTTONS*/
.btn-delete {
  background-color: var(--dark-red);
}
.btn-delete:hover {
  color: var(--light-text);
  transform: scale(1.01);
}
.btn-add {
  background-color: var(--dark-green);
}
.btn-create-list,
.btn-download-list {
  background-color: var(--light-);
}
.btn-create {
  background-color: var(--dark-input-list);
}

.btn-delete,
.btn-add,
.btn-create-list,
.btn-download-list,
.btn-create,
.nav-list-title,
.input-item-to-list {
  height: 30px;
}

/*reused*/
p{
  line-height: 28px;
  color: var(--light-text);
  text-align: left;
  padding-left: 30px;
}
p:hover{
  color: var(--medium-red);
  transform: scale(1.01);
}

/* ----------------- NavBar ---------------------------*/
.nav-lists {
  background-color: var(--bg-light-red);
  width: 100%;
  height: 40px;
}
.nav-list-group {
  width: 75%;
  position: absolute;
  display: grid;
  grid-template-columns: 80% 20%;
}
.nav-list-title {
  background-color: var(--light-purple);
}

.page-header-list-name {
  margin-top: 60px;
}

/* ----------------- Main ---------------------------*/
/* main - Add Items */
.sec-insert-items-to-list {
  display: grid;
  grid-template-columns: 80% 20%;
  margin-bottom: 15px;
}
.input-item-to-list {
  width: 100%;
  background-color: var(--light-green);
}
/* main - return items */
.sec-return-items-to-list {
  display: grid;
  grid-template-columns: 80% 20%;
}
.item-list {
  background-color: var(--dark-purple);
}
