*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

input,
button {
  border-style: none;
  background-color: transparent;
}
input {
  text-indent: 30px;
}
/*show and hide classes*/
.invisible {
  visibility: hidden;
  max-height: 190px;
}
.visible {
  visibility: visible;
  max-height: 190px;
}

/*BUTTONS*/
.btn-delete {
  background-color: var(--dark-red);
}
.btn-delete:hover {
  color: var(--light-text);
  transform: scale(1.01);
}
.btn-add {
  background-color: var(--dark-green);
  position: relative;
  z-index: -1;
}
.btn-create-new-list,
.btn-download-list {
  background-color: var(--light-btn);
}
.btn-create {
  background-color: var(--dark-input-list);
}

.btn-delete,
.btn-add,
.btn-create-list,
.btn-download-list,
.btn-create,
.btn-create-new-list,
.btn-download-list,
.nav-list-title,
.input-item-to-list,
.input-new-list {
  height: 30px;
}

/*reused*/
p {
  line-height: 28px;
  color: var(--light-text);
  text-align: left;
  padding-left: 30px;
}
p:hover {
  color: var(--medium-red);
  transform: scale(1.01);
}

/* ----------------- NavBar ---------------------------*/
.nav-lists {
  background-color: var(--bg-light-red);
  width: 100%;
  height: 40px;
}
.nav-list-group {
  /* width: 75%;
  position: absolute; */
  display: grid;
  grid-template-columns: 80% 20%;
}
.nav-list-title {
  background-color: var(--light-purple);
}

/* .page-header-list-name {
  margin-top: 60px;
} */

/* ----------------- Main ---------------------------*/
/* main - Add Items */
.container > .sec-elements-list {
  margin-top: -135px;
}
.sec-insert-items-to-list {
  display: grid;
  grid-template-columns: 80% 20%;
  margin-bottom: 15px;
}
.input-item-to-list {
  width: 100%;
  background-color: var(--light-green);
  position: relative;
  z-index: -1;
}
/* main - return items */
.sec-return-items-to-list {
  display: grid;
  grid-template-columns: 80% 20%;
  z-index: -1;
  position: relative;
}
.item-list {
  background-color: var(--dark-purple);
}

/* --------- Sec. create and Download list ----------*/
.sec-create-download-list {
  margin-top: 20px;
}
/*buttons*/
.buttons-create-download-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.buttons-create-download-list > * {
  margin: 20px;
}
/*create list field*/
.field-create-list {
  display: grid;
  grid-template-columns: 80% 20%;
}
.input-new-list {
  background-color: var(--light-input-list);
}
