body {
  font-family: var(--font-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  font-size: 2rem;
}

p,
input,
button,
div {
  font-family: var(--font-text);
  font-size: 1rem;
}

@media (min-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-title);
    font-size: 3rem;
  }
  p,
  input,
  button,
  div {
    font-family: var(--font-text);
    font-size: 2rem;
  }
}
