@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Sancreek&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");

:root {
  --font-title: "Sancreek";
  --font-text: "Mouse Memoirs";
  --font-title-old: "Pacifico";
  --font-text-old: "Delicious Handrawn";
  --bg-color: #f5e9cf;
  --bg-light-rose: #f9d4d9;
  --bg-light-red: #e9647847;
  --dark-green: #7db9b6;
  --light-green: #6097b488;
  --dark-purple: #4d455d;
  --light-purple: #4d455dc0;
  --dark-red: #e96479;
  --medium-red: #e964789e;
  --light-red: #e9647847;
  --light-btn: #d9d9d9;
  --dark-text: #000;
  --light-text: #e1eeddcf;
  --dark-input-list: #d1e5cbf1;
  --light-input-list: #e1eeddcf;
}