<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <div class="container">
        <!-- header -->
        <%- include('../partials/header')%>

        <!-- Add item(s) to the list -->
        <input type="text" name="item-to-list" id="input-item-list" class="input-item-to-list">
        <button type="submit" class="btn-add">Add</button>
    </div>
</body>
</html>