<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div class="container">
        <!-- header -->
        <%- include('../partials/header')%>

            <!-- Add item(s) to the list -->
            <main class="sec-elements-list">
                <section class="sec-insert-items-to-list">
                    <input type="text" name="item-to-list" id="input-item-list" class="input-item-to-list">
                    <button type="submit" class="btn-add">Add</button>
                </section>
                <section class="sec-return-items-to-list">
                    <p class="item-list">Item 1</p>
                    <button class="btn-delete">Delete</button>
                </section>
            </main>

            <section class="sec-create-download-list">
                <div class="buttons-create-download-list">
                    <button class="btn-create-new-list"> Create New List </button>
                    <button class="btn-download-list"> Download List </button>
                </div>
                <div class="field-create-list">
                    <input type="text" name="insert new list name" id="input-new-list-name" class="input-new-list">
                    <button class="btn-create"> Create </button>
                </div>
            </section>

    </div>
</body>

</html>