<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div class="container">
        <!-- header -->
        <%- include('../partials/header')%>

            <!-- Add item(s) to the list -->
            <main class="sec-elements-list">
                <section class="sec-insert-items-to-list">
                    <input type="text" name="item-to-list" id="input-item-list" class="input-item-to-list">
                    <button type="submit" class="btn-add">Add</button>
                </section>
                <section class="sec-return-items-to-list">
                    <p class="item-list">Item 1</p>
                    <button class="btn-delete">Delete</button>
                </section>

            </main>

    </div>
</body>

</html>